@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply m-0 antialiased;
}

code {
  @apply font-mono;
}

/* Custom component styles */
@layer components {
  .node-handle {
    @apply w-3 h-3 rounded-full border-2 border-white;
  }
}
